
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.device {
  width: 860px;
  position: relative;
  margin: 10px auto;
  height: 220px;
  padding: 30px 40px;
  border-radius: 3px;
  background: black;
  border:3px solid #fff;
  box-shadow: 0px 0px 1px black;
}
.swiper-container {
  width: 860px;
  height: 220px;
  color: #fff;
  background: black;
  text-align: center;
}
.swiper-slide {
  height: 100%;
  opacity: 0.4;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.swiper-slide-visible {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.swiper-slide-active {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 0px;
  width: 100%;
  text-align: center;
  bottom: 5px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #aaa;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  position: relative;
  top: -50px;
}
.swiper-visible-switch {
  opacity: 1;
  top: 0;
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}



.upload
{
    position:relative; 
    display:inline-block; 
    height:33px;
    line-height:33px; 
    overflow:hidden;
    vertical-align:middle; 
    cursor:pointer;
}
.upload .upload-input-file
{
    position:absolute; 
    right:0; 
    top:0; 
    font-size:100px; 
    opacity:0; 
    filter:alpha(opacity=0);
    cursor:pointer;
}
.upload .upload-btn
{
    outline:none;
    border:0; 
    padding:6px;
    color:#fff;
    background: black;
    cursor:pointer; 
    margin-left:3px; 
    border-radius:3px;
}
.upload .upload-url 
{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    border-radius:2px;
    border: solid 1px black; 
    width: 890px;
    height:30px;
    -webkit-line-height: 1;
    line-height: 30px\9;
    -ms-line-height: 30px; 
    text-indent:3px;
}
.upload .upload-tip 
{
    display:none; 
    background-color:#1c84c6; 
    padding:2px 10px; 
    color:#fefefe; 
    font-size:12px !important;
    border-radius:3px;
}

.result
{
    text-align: center; 
    clear: both; 
    width: 946px; 
    height: auto; 
    margin:10px auto;
}

.result .image_result
{
    float: left; 
    width: 100%; 
    height: 500px; 
    background-color: blue
}

.result .json_result
{
    float: left; 
    width: 100%; 
    height: 500px; 
    background-color: brown
}